@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 10px;
    z-index: -1;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #f9ebd7;
    opacity: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5D4B37;
    opacity: 10px;
    border-radius: 10px;
}